h2{
  text-align: center;
  color: red;
  font-size: 40px;
  font-style: italic;
  font-family: fantasy;
  border-style:dotted;
}
.pink{
  color: pink;
  border-style: solid;
  border-color: blue;
}
#bold{
  font-style: italic;
  font-family: cursive;
}
#bold{
  font-style: oblique;
font-family: monospace;
}
.coloum{
    float: left;
    width: 33.33%;
}
