body {
  background-image: url("bgfruits.jpg");
  font-family: chaparral;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  font-size: 20px;
}
#fb:hover{
  background-color:  #3B5998;
}

#twt:hover{
  background-color: #55ACEE;
}

#snp:hover{
  background-color: #fffc00;
}

#inst:hover{
  background-color: #cb2027;
}
.search-container{
  margin-top:13px;
}


.fa-search{
  background-color: transparent;
  outline:none;

}

#txt{
  line-height: 0;
}
.carousel-inner img {
    width: 50%;
    heigh: 50%;
  }
  .para{
    font-size: 20px;
  }
  .parag{
    font-size: 20px;
  }
  .paragr{
    font-size: 20px;
  }
  .paragra{
    font-size: 20px;
  }
#ff{
  font-size: 40px;
}
#FF{
  font-size: 30px;
}
