body{
  background-image: url(Outdoor7.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  font-family: chaparral;
  font-size: 20px;
  color: WHITE;
}
#fb:hover{
  background-color:  #3B5998;
}

#twt:hover{
  background-color: #55ACEE;
}

#snp:hover{
  background-color: #fffc00;
}

#inst:hover{
  background-color: #cb2027;
}
.search-container{
  margin-top:13px;
}


.fa-search{
  background-color: transparent;
  outline:none;

}

#txt{
  line-height: 0;
}
